.comment-form{}
.comment-form__textarea{
    width: 100%;
    box-sizing: border-box;
}
.comment-form__submit{
    float: right;
    text-transform: uppercase;
}
.comment-form__header{
    margin-bottom: 5px;
}